.addItemsBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.addItemsBox > textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Droid Sans, Arial, sans-serif;
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border: 0;
  flex-grow: 1;
}
